@font-face {
	font-family: Aeroport;
	src: url(/font/Aeroport-light-trial.otf);
}
@font-face {
	font-family: Aeroport__second;
	src: url(/font/Aeroport-bold-trial.otf);
}

@font-face {
	font-family: Aeroport__third;
	font-weight: 400;
	color: rgba(68, 70, 80, 1);

	src: url(/font/Aeroport-light-trial.otf);
}

.font__family {
	color: rgba(63, 68, 104, 1);
	font-weight: 500;
	font-family: Aeroport;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	list-style: none;
	color: black;
}

li {
	list-style: none;
	color: black;
}

li a {
	font-weight: 500;
	list-style: none;
	color: black;
	text-decoration: none;
}

.nav__one {
	margin-top: 10px;
}

.space__between {
	display: flex;
	align-items: center;
	gap: 30px;
}

.nav-item {
	color: black;
}

.nav-link {
	margin-top: 11px;
	color: black !important;
}

.second__nav {
	margin-top: 0px;
}
.for__icon {
	width: 24px;
	height: 24px;
}

nav ul li {
	position: relative;
	list-style: none;
}
nav ul li a {
	text-decoration: none;
	display: block;
	padding: 15px;
	color: black;
}

nav ul li ul {
	position: absolute;
	left: -10;
	width: 100%;
	background: white;
	display: none;
}
nav ul li ul li {
	left: -40px;
	z-index: 1;
	width: 140px;
	background: white;
}
nav ul li:hover > ul {
	display: initial;
}

.navbar__second {
	position: relative;
}

.nav__pos {
	position: absolute;
	left: -60px;
	top: -15px;
}

.nav__pos__sec {
	position: absolute;
	right: 20px;
	top: -0px;
}

.logo__mar {
	margin-bottom: 20px;
}

.font__size {
	font-weight: 500;
	font-size: 20px;
}

.color {
	font-weight: 500;
	text-decoration: none;
	list-style: none;
	color: black;
}

/* Some new endings */

.number {
	gap: 5px;
	margin-right: 40px;
	justify-content: center;
	align-items: center;
}

.right__pos {
	margin-right: 10px;
}
.tiny {
	font-weight: 400;
}

.red__one {
	color: red;
}

.second__number {
	margin-right: 10px;
}

.font__size {
	margin-top: 6px;
	font-weight: 500;
	font-size: 18px;
}

.txt__font {
	font-weight: 900;
	font-family: Aeroport;
	color: rgba(63, 68, 104, 1);
	font-size: 14px;
}

/* end of endings */

/* footer change */

.numb__footer {
	font-weight: 700;
	color: rgba(15, 21, 66, 1);
}

.txt__footer__colm {
	font-family: Aeroport__third;
	font-weight: 400;
	color: rgba(15, 21, 66, 1);
	margin-left: 5px;
}

.last__txt {
	font-family: Aeroport__second;
	font-weight: 800;
}

.font__bold {
	font-family: 'Aeroport';
	font-style: normal;
	font-weight: 900;
	font-size: 15px;
	line-height: 150%;
}

/* end of change */

.red__one {
	color: rgba(229, 0, 25, 1);
}
.language {
	font-weight: 500;
	color: rgba(15, 21, 66, 1);
}

.long__img {
	margin-top: 60px;
	width: 1300px;
	height: 200px;
}

.blue__box {
	position: absolute;
	left: 780px;
	top: 60px;
}

.img__size {
	width: 380px;
	height: 300px;
}

.parent__box {
	margin-top: 20px;
	position: relative;
	gap: 200px;
}

.text {
	padding: 30px;
	margin-top: 40px;
	text-align: center;
}

.four__main__parent {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.box__second {
	width: 500px;
	height: 225px;
	padding: 20px;
	gap: 10px;
	border-radius: 8px;
	border: 1px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(180, 185, 226, 1);
	color: rgba(63, 68, 104, 1);
}

.line {
	margin-top: 120px;
	border: 1px solid rgba(180, 185, 226, 1);
	width: 200px;
	height: 0px;
}

.second__line {
	border: 1px solid rgba(180, 185, 226, 1);
	width: 0px;
	height: 200px;
	margin-left: 100px;
}

.line__short {
	border: 1px solid rgba(180, 185, 226, 1);
	width: 100px;
	height: 0px;
	margin-top: 120px;
}

.parent__four {
	margin-top: 50px;
}
.line__short__sec {
	border: 1px solid rgba(180, 185, 226, 1);
	width: 0px;
	height: 80px;
	margin-left: 255px;
}

.child__all {
	margin-left: 390px;
}

.box__second__last {
	width: 500px;
	height: 320px;
	padding: 20px;
	gap: 10px;
	border-radius: 8px;
	border: 1px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(180, 185, 226, 1);
	color: rgba(63, 68, 104, 1);
}

.img__phone {
	width: 125px;
	height: 40px;
}

.img__social {
	width: 100px;
	height: 20px;
}

.img__email {
	width: 160px;
	height: 22px;
}

.img__adrres {
	width: 240px;
	height: 40px;
}

.footer {
	padding: 50px;
	margin-top: 530px;
	background: rgba(246, 247, 255, 1);
	height: 222px;
	background-size: 100% 542px;
	background-repeat: no-repeat;
	background-position: center;
}

.footer__parent {
	padding: 20px;
	border-bottom: 1px solid grey;
}

.last {
	padding: 20px;
}

.third__section {
	background: rgba(246, 247, 255, 1);
	height: 272px;
	margin-top: 80px;
	background-size: 100% 542px;
	background-repeat: no-repeat;
	background-position: center;
}

.four__card {
	padding: 30px;
	width: 450px;
	height: 279px;
	background: #ffffff;
	box-shadow: 0px 2px 30px rgba(64, 75, 155, 0.1);
	border-radius: 8px;
	margin-bottom: 20px;
}

.center {
	padding: 60px;
	text-align: center;
}

.icon__card {
	width: 60px;
	height: 60px;
}
.margin {
	margin-top: 30px;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
	.logo__mar {
		margin-top: 20px;
		display: flex;
		align-items: center;
	}

	.logo__size {
		width: 40px;
		height: 40px;
	}

	.logo__desc {
		width: 10px;
	}

	.respon__logo {
		display: none;
	}

	.nav__drop {
		display: none;
	}

	.second__nav {
		display: none;
	}
	/* end of nav */

	/* start first page */

	.respon__left {
		margin-top: 10px;
	}

	.long__one {
		display: none;
	}

	.second__parent {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		margin-top: 10px;
	}

	.mini__img {
		width: 300px;
	}
	.minicard {
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	.txt {
		width: 300px;
		margin-left: 10px;
	}

	.first__img__size {
		width: 300px;
		height: 250px;
		border-radius: 8px;
	}

	.mini__ditail {
		margin-left: 10px;
		gap: 10px;
	}

	.news__txt {
		margin-top: 10px;
		font-size: 30px;
	}
	.main__card {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.center__txt {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	/* start third page */
	.third__parent {
		height: 1300px;
		display: flex;
		flex-direction: column;
	}

	.desc__cards {
		display: flex;
		flex-direction: column;
	}

	.four__problem {
		flex-direction: column;
	}
	.mini__four {
		flex-direction: column;
	}

	.four__page {
		background: rgba(27, 38, 124, 1);
		height: 1442px;
		background-size: 100% 542px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.map__img {
		display: none;
	}

	.pre__last {
		flex-direction: column;
	}

	.img__10 {
		width: 300px;
		height: 200px;
	}

	.kon__img {
		display: none;
	}
	.litle__img {
		width: 300px;
		height: 185px;
		margin-top: 30px;
	}
	.five__child {
		display: flex;
		justify-content: center;
		justify-content: space-between;
		align-items: center;
	}

	.for__title {
		display: none;
	}

	.six__parent {
		flex-direction: column;
	}

	/* footer start */

	.footer__parent {
		padding: 20px;
		flex-direction: column;
	}

	.footer {
		margin-top: 30px;
		background: rgba(246, 247, 255, 1);
		height: 222px;
		background-size: 100% 542px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.footer__child {
		display: none;
	}
	.last {
		flex-direction: column;
	}

	/* about us page */

	.long__img {
		margin-top: 10px;
		width: 300px;
		height: 60px;
	}

	.parent__box {
		margin-top: 20px;
		position: relative;
		flex-direction: column;
		gap: 20px;
	}

	.blue__box {
		position: absolute;
		left: 0px;
		top: 770px;
	}

	.img__size {
		width: 250px;
		height: 200px;
		margin-left: 20px;
	}

	.blue__img {
		display: none;
	}

	.txt__main {
		padding: 20px;
	}

	.parent__box {
		justify-content: center;
		align-items: center;
	}

	.txt__left {
		margin-left: 20px;
	}

	.circle {
		display: none;
	}

	.third__child {
		flex-direction: column;
	}

	.parent__four {
		flex-direction: column;
	}

	.child__all {
		margin-left: 0px;
	}

	.line__short__sec {
		display: none;
	}

	.line__short {
		display: none;
	}

	.second__line {
		display: none;
	}

	.line {
		display: none;
	}

	.box__second {
		width: 300px;
		height: 325px;
		padding: 20px;
		gap: 10px;
		border-radius: 8px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.box__second__last {
		width: 300px;
		height: 520px;
		padding: 20px;
		gap: 10px;
		border-radius: 8px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.parent__four {
		margin-top: 10px;
	}

	.circle__map {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.four__parent {
		gap: 10px;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.four__card {
		padding: 30px;
		width: 300px;
		height: 329px;
		background: #ffffff;
		box-shadow: 0px 2px 30px rgba(64, 75, 155, 0.1);
		border-radius: 8px;
	}

	.down {
		margin-bottom: 30px;
	}

	.center {
		padding: 20px;
		text-align: center;
	}

	.third__section {
		background: rgba(246, 247, 255, 1);
		height: 2172px;
		margin-top: 10px;
		background-size: 100% 542px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.footer {
		margin-top: 2000px;
	}
}
@media screen and (min-width: 577px) and (max-width: 768px) {
	.logo__mar {
		margin-top: 20px;
		display: flex;
		align-items: center;
	}

	.logo__size {
		width: 40px;
		height: 40px;
	}

	.logo__desc {
		width: 10px;
	}

	.respon__logo {
	}

	.nav__drop {
		display: none;
	}

	.second__nav {
		display: none;
	}
	/* end of nav */

	.news__txt {
		margin-top: 10px;
		font-size: 30px;
	}

	.txt__2 {
		width: 500px;
	}

	.main__card {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.center__txt {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.third__parent {
		height: 500px;
		display: flex;
		flex-direction: column;
	}
	.third__parent {
		display: flex;
		flex-direction: column;
	}

	.desc__cards {
		display: flex;
		flex-direction: column;
	}

	.third__page {
		background: rgba(246, 247, 255, 1);
		height: 1302px;
		background-size: 100% 542px;
		background-repeat: no-repeat;
		background-position: center;
	}
	.four__parent {
		margin-top: 20px;
	}

	.four__problem {
		flex-direction: column;
	}
	.mini__four {
	}

	.four__page {
		background: rgba(27, 38, 124, 1);
		height: 1442px;
		background-size: 100% 542px;
		background-repeat: no-repeat;
		background-position: center;
	}
	.child__second {
		display: flex;
		align-items: center;
		padding: 20px;
		justify-content: space-between;
		width: 256px;
		height: 130px;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 8px;
	}

	.pre__last {
	}

	.img__10 {
		display: none;
	}

	.kon__img {
		margin-left: 60px;
	}
	.litle__img {
		width: 240px;
		height: 185px;
		margin-top: 30px;
	}
	.five__child {
		display: flex;
		justify-content: center;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.six__parent {
		flex-wrap: wrap;
	}

	/* footer start */

	.footer__parent {
		padding: 20px;
		flex-direction: column;
	}

	.footer {
		margin-top: 30px;
		background: rgba(246, 247, 255, 1);
		height: 222px;
		background-size: 100% 542px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.footer__child {
		display: none;
	}
	.last {
		flex-direction: column;
	}

	/* about us page */

	.long__img {
		margin-top: 10px;
		width: 500px;
		height: 100px;
	}

	.parent__box {
		margin-top: 20px;
		position: relative;
		flex-direction: column;
		gap: 20px;
	}

	.blue__box {
		position: absolute;
		left: 80px;
		top: 550px;
	}

	.img__size {
		width: 250px;
		height: 200px;
		margin-left: 20px;
	}

	.blue__img {
		width: 150px;
		height: 150px;
	}

	.txt__main {
		padding: 20px;
	}

	.parent__box {
		justify-content: center;
		align-items: center;
	}

	.long__one {
		display: none;
	}

	.txt__left {
		margin-left: 20px;
	}

	.circle {
		display: none;
	}

	.parent__box {
		justify-content: center;
		align-items: center;
	}

	.txt__left {
		margin-left: 20px;
	}

	.circle {
		display: none;
	}

	.third__child {
		gap: 20px;
	}

	.parent__four {
		gap: 10px;
	}

	.child__all {
		margin-left: 0px;
	}

	.line__short__sec {
		display: none;
	}

	.line__short {
		display: none;
	}

	.second__line {
		display: none;
	}

	.line {
		display: none;
	}

	.box__second {
		width: 280px;
		height: 425px;
		padding: 20px;
		gap: 10px;
		border-radius: 8px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.box__second__last {
		width: 280px;
		height: 520px;
		padding: 20px;
		gap: 20px;
		border-radius: 8px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.parent__four {
		margin-top: 10px;
	}

	.circle__map {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.four__parent {
		gap: 10px;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.four__card {
		padding: 30px;
		width: 330px;
		height: 329px;
		background: #ffffff;
		box-shadow: 0px 2px 30px rgba(64, 75, 155, 0.1);
		border-radius: 8px;
	}

	.down {
		margin-bottom: 30px;
	}

	.center {
		padding: 20px;
		text-align: center;
	}

	.third__section {
		background: rgba(246, 247, 255, 1);
		height: 1472px;
		margin-top: 10px;
		background-size: 100% 542px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.footer {
		margin-top: 2000px;
	}
}
@media screen and (min-width: 769px) and (max-width: 992px) {
	.logo__mar {
		margin-top: 20px;
		display: flex;
		align-items: center;
	}

	.logo__size {
		width: 40px;
		height: 40px;
	}

	.logo__desc {
		width: 10px;
	}

	.respon__logo {
	}

	.nav__drop {
	}

	.second__nav {
		display: none;
	}
	/* end of nav */

	/* start page first */
	.long__one {
		display: none;
	}

	.respon__left {
		margin-top: 10px;
	}

	/* end of first page */

	/* start second page */
	.respon__parent {
		display: flex;
		flex-direction: column;
	}
	.mini__img {
		width: 150px;
	}
	.minicard {
		align-items: center;
		margin-right: 110px;
		display: flex;
	}

	.second__parent {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		margin-top: 10px;
	}

	.txt {
		width: 400px;
		margin-left: 10px;
	}

	.first__img__size {
		width: 300px;
		height: 250px;
		border-radius: 8px;
	}

	.mini__ditail {
		margin-left: 10px;
		gap: 10px;
	}

	.news__txt {
		margin-top: 10px;
	}

	.txt__2 {
		width: 370px;
	}

	.third__parent {
		height: 500px;
		display: flex;
		flex-direction: column;
	}
	.third__parent {
		display: flex;
		flex-direction: column;
	}

	.desc__cards {
		display: flex;
	}

	.third__page {
		background: rgba(246, 247, 255, 1);
		height: 520px;
		background-size: 100% 542px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.cards {
		background: rgba(255, 255, 255, 1);
		width: 230px;
		height: 263px;
		padding: 20px 30px;
		border-radius: 8px;
	}

	.txt__font {
		color: rgba(63, 68, 104, 1);
		font-size: 13px;
	}
	.four__parent {
		margin-top: 20px;
	}

	.four__problem {
		flex-direction: column;
	}
	.mini__four {
	}

	.four__page {
		background: rgba(27, 38, 124, 1);
		height: 1080px;
		background-size: 100% 542px;
		background-repeat: no-repeat;
		background-position: center;
	}
	.child__second {
		display: flex;
		align-items: center;
		padding: 20px;
		justify-content: space-between;
		width: 286px;
		height: 130px;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 8px;
	}
	.map__img {
	}

	.pre__last {
	}

	.img__10 {
		display: none;
	}

	.kon__img {
		margin-left: 60px;
	}
	.litle__img {
		width: 300px;
		height: 185px;
		margin-top: 30px;
	}
	.five__child {
		display: flex;
		justify-content: center;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 10px;
		flex-direction: column;
		gap: 20px;
	}

	.six__parent {
		flex-wrap: wrap;
	}
	/* footer start */

	.footer__parent {
		padding: 20px;
		flex-direction: column;
	}

	.footer {
		margin-top: 30px;
		background: rgba(246, 247, 255, 1);
		height: 222px;
		background-size: 100% 542px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.footer__child {
		display: none;
	}
	.last {
		flex-direction: column;
	}

	.footer {
		margin-top: 100px;
	}

	/* about us page */

	.long__img {
		margin-top: 10px;
		width: 700px;
		height: 120px;
	}

	.parent__box {
		margin-top: 20px;
		position: relative;
		flex-direction: column;
		gap: 20px;
	}

	.blue__box {
		position: absolute;
		left: 140px;
		top: 430px;
	}

	.img__size {
		width: 250px;
		height: 200px;
		margin-left: 20px;
	}

	.blue__img {
		width: 150px;
		height: 150px;
	}

	.txt__main {
		padding: 20px;
	}

	.parent__box {
		justify-content: center;
		align-items: center;
	}

	.long__one {
		display: none;
	}

	.txt__left {
		margin-left: 20px;
	}

	.parent__box {
		justify-content: center;
		align-items: center;
	}

	.txt__left {
		margin-left: 20px;
	}

	.circle {
		display: none;
	}

	.third__child {
		gap: 20px;
	}

	.parent__four {
		gap: 10px;
	}

	.child__all {
		margin-left: 0px;
	}

	.line__short__sec {
		display: none;
	}

	.line__short {
		display: none;
	}

	.second__line {
		display: none;
	}

	.line {
		display: none;
	}

	.box__second {
		width: 280px;
		height: 425px;
		padding: 20px;
		gap: 10px;
		border-radius: 8px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.box__second__last {
		width: 280px;
		height: 520px;
		padding: 20px;
		gap: 20px;
		border-radius: 8px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.parent__four {
		margin-top: 10px;
	}

	.circle__map {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.four__parent {
		gap: 10px;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
	}
	.four__card {
		padding: 30px;
		width: 250px;
		height: 299px;
		background: #ffffff;
		box-shadow: 0px 2px 30px rgba(64, 75, 155, 0.1);
		border-radius: 8px;
	}

	.down {
		margin-bottom: 30px;
	}

	.center {
		padding: 20px;
		text-align: center;
	}

	.third__section {
		background: rgba(246, 247, 255, 1);
		height: 1472px;
		margin-top: 10px;
		background-size: 100% 542px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.footer {
		margin-top: 2000px;
	}

	.four__main__parent {
	}
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
	.logo__mar {
		margin-top: 20px;
		display: flex;
		align-items: center;
	}

	.logo__size {
		width: 40px;
		height: 40px;
	}

	.logo__desc {
		width: 10px;
	}

	.second__nav {
		padding: 10px;
		margin-bottom: 30px;
	}
	/* end of nav */

	/* start page first */
	.long__one {
		height: 200px;
	}

	.respon__left {
		margin-top: 10px;
	}

	/* end of first page */

	/* start second page */

	.navbar__second {
		font-size: 13px;
	}

	.font__size {
		font-size: 12px;
	}

	.second__parent {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 10px;
	}

	.parent__for__mini__card {
		position: relative;
		margin-top: 20px;
	}
	.center__txt {
		margin-top: 10px;
	}

	.position {
		position: absolute;
		top: 0px;
		left: 480px;
		margin-left: 20px;
	}

	.txt_3 {
		width: 300px;
	}

	.third__parent {
		height: 500px;
		display: flex;
	}
	.third__parent {
		display: flex;
	}

	.desc__cards {
		display: flex;
	}

	.third__page {
		background: rgba(246, 247, 255, 1);
		height: 520px;
		background-size: 100% 542px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.cards {
		background: rgba(255, 255, 255, 1);
		width: 230px;
		height: 263px;
		padding: 20px 30px;
		border-radius: 8px;
	}

	.txt__font {
		color: rgba(63, 68, 104, 1);
		font-size: 13px;
	}

	.four__parent {
		margin-top: 20px;
	}

	.four__problem {
	}
	.mini__four {
	}

	.four__page {
		background: rgba(27, 38, 124, 1);
		height: 1080px;
		background-size: 100% 542px;
		background-repeat: no-repeat;
		background-position: center;
	}
	.child__second {
		display: flex;
		align-items: center;
		padding: 20px;
		justify-content: space-between;
		width: 226px;
		height: 130px;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 8px;
	}

	.white__number {
		font-size: 25px;
	}

	.map__img {
		width: 530px;
		height: 290px;
	}

	.pre__last {
	}

	.img__10 {
		width: 300px;
		height: 200px;
	}
	.kon__img {
		margin-left: 60px;
	}
	.litle__img {
		width: 300px;
		height: 185px;
		margin-top: 30px;
	}
	.five__child {
		display: flex;
		justify-content: center;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.six__parent {
	}

	.gover {
		width: 130px;
	}

	.last__exp {
		padding: 10px;
		margin-left: 20px;
	}

	.footer {
		margin-top: 50px;
	}

	/* about us page */

	.long__img {
		margin-top: 10px;
		width: 950px;
		height: 140px;
	}

	.parent__box {
		margin-top: 20px;
		position: relative;
		gap: 20px;
	}

	.blue__box {
		position: absolute;
		left: 640px;
		top: 130px;
	}

	.img__size {
		width: 250px;
		height: 200px;
		margin-left: 20px;
	}

	.blue__img {
		width: 150px;
		height: 150px;
	}

	.txt__main {
		padding: 20px;
	}

	.parent__box {
		justify-content: center;
		align-items: center;
	}

	.long__one {
	}

	.txt__left {
		margin-left: 20px;
	}

	.parent__box {
		justify-content: center;
		align-items: center;
	}

	.long__one {
		display: none;
	}

	.txt__left {
		margin-left: 20px;
	}

	.parent__box {
		justify-content: center;
		align-items: center;
	}

	.txt__left {
		margin-left: 20px;
	}

	.circle {
		display: none;
	}

	.third__child {
		gap: 20px;
	}

	.parent__four {
		gap: 10px;
	}

	.child__all {
		margin-left: 0px;
	}

	.line__short__sec {
		display: none;
	}

	.line__short {
		display: none;
	}

	.second__line {
		display: none;
	}

	.line {
		display: none;
	}

	.box__second {
		width: 350px;
		height: 425px;
		padding: 20px;
		gap: 10px;
		border-radius: 8px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.box__second__last {
		width: 350px;
		height: 520px;
		padding: 20px;
		gap: 20px;
		border-radius: 8px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.parent__four {
		margin-top: 10px;
	}

	.circle__map {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.four__parent {
		gap: 10px;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
	}
	.four__card {
		padding: 30px;
		width: 300px;
		height: 299px;
		background: #ffffff;
		box-shadow: 0px 2px 30px rgba(64, 75, 155, 0.1);
		border-radius: 8px;
	}

	.down {
		margin-bottom: 30px;
	}

	.center {
		padding: 20px;
		text-align: center;
	}

	.third__section {
		background: rgba(246, 247, 255, 1);
		height: 1472px;
		margin-top: 10px;
		background-size: 100% 542px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.footer {
		margin-top: 2000px;
	}

	.four__main__parent {
	}
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
	.logo__mar {
		margin-top: 20px;
		display: flex;
		align-items: center;
	}

	.logo__size {
		width: 40px;
		height: 40px;
	}

	.logo__desc {
		width: 0px;
	}

	.second__nav {
		padding: 10px;
		margin-bottom: 30px;
	}
	/* end of nav */

	/* start page first */
	.long__one {
		height: 200px;
	}

	.respon__left {
		margin-top: 10px;
	}

	/* end of first page */

	/* start second page */

	.navbar__second {
		font-size: 16px;
	}

	.font__size {
		font-size: 16px;
	}

	.second__parent {
		display: flex;
		gap: 20px;
		margin-top: 10px;
	}

	.parent__for__mini__card {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-top: 20px;
	}
	.center__txt {
		margin-top: 10px;
	}

	.position {
		position: absolute;
		top: 0px;
		left: 480px;
		margin-left: 20px;
	}

	.txt_3 {
		width: 300px;
	}

	.third__parent {
		display: flex;
	}

	.desc__cards {
		display: flex;
	}

	.third__page {
		background: rgba(246, 247, 255, 1);
		height: 520px;
		background-size: 100% 542px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.cards {
		background: rgba(255, 255, 255, 1);
		width: 230px;
		height: 263px;
		padding: 20px 30px;
		border-radius: 8px;
	}

	.txt__font {
		color: rgba(63, 68, 104, 1);
		font-size: 13px;
	}

	.respon__parent {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.txt__2 {
		width: 600px;
	}

	.img__10 {
		width: 300px;
		height: 200px;
	}

	.map__img {
		width: 530px;
		height: 290px;
	}
	.five__child {
		display: flex;
		justify-content: center;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.pre__last {
		gap: 30px;
	}

	.footer {
		margin-top: 50px;
	}

	/* about us page */

	.long__img {
		margin-top: 10px;
		width: 1100px;
		height: 160px;
	}

	.parent__box {
		margin-top: 20px;
		position: relative;
		gap: 20px;
	}

	.blue__box {
		position: absolute;
		left: 800px;
		top: 90px;
	}

	.img__size {
		width: 250px;
		height: 200px;
		margin-left: 20px;
	}

	.blue__img {
		width: 150px;
		height: 150px;
	}

	.txt__main {
		padding: 20px;
	}

	.parent__box {
		justify-content: center;
		align-items: center;
	}

	.long__one {
	}

	.txt__left {
		margin-left: 20px;
	}

	.box__second {
		width: 350px;
		height: 295px;
		padding: 20px;
		gap: 20px;
		border-radius: 8px;
		margin-top: 10px;
		margin-bottom: 0px;
	}

	.child__all {
		margin-left: 300px;
	}

	.line__short__sec {
		border: 1px solid rgba(180, 185, 226, 1);
		width: 0px;
		height: 150px;
		margin-left: 255px;
	}

	.circle {
		width: 320px;
		height: 320px;
	}

	.second__line {
		border: 1px solid rgba(180, 185, 226, 1);
		width: 0px;
		height: 250px;
		margin-left: 100px;
	}

	.line__short {
		border: 1px solid rgba(180, 185, 226, 1);
		width: 100px;
		height: 0px;
		margin-top: 140px;
	}

	.four__parent {
		gap: 10px;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
	}
	.four__card {
		padding: 30px;
		width: 250px;
		height: 310px;
		background: #ffffff;
		box-shadow: 0px 2px 30px rgba(64, 75, 155, 0.1);
		border-radius: 8px;
	}

	.down {
		margin-bottom: 30px;
	}

	.center {
		padding: 20px;
		text-align: center;
	}

	.third__section {
		background: rgba(246, 247, 255, 1);
		height: 1472px;
		margin-top: 10px;
		background-size: 100% 542px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.footer {
		margin-top: 2000px;
	}
}
